:root {
    --white: #ffffff;
    --size: 6.25%;
    --black: #000000;
    --colour: #000;
}

body {
    background-color: var(--white);
}

main {
    width: 800px;
    height: 800px;
    background-color: lightblue;
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    justify-content: center;
    align-content: center;
    align-items: center;
    border: 10px solid black;
    border-radius: 15%;
}

h1 {
    font-size: xx-large;
    padding: 20px;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.buttons * {
    margin-left: 20px;
    margin-bottom: 20px;
}

.pad {
    width: 600px;
    height: 600px;
    background-color: honeydew;
    display: flex;
    flex-flow: row wrap;
    
}

.pad:hover {
    box-shadow:1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.cell {
    /*     width: 4.375vw;
    height: 4.375vh; */
    width: var(--size);
    height: var(--size);
    padding: 0;
    margin: 0;
    background-color: lightpink;
    touch-action: none;
}

/* .cell:hover {
    background-color: ivory;
} */

.mouseEntered {
    background-color: var(--colour);
    touch-action: none;
}